body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display:none;
}

.game {
  overflow: hidden;
}

.game .status-bar {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 50px;
  background-color: bisque;
  border: 5px solid darkgreen;
}

.game .flex {
  display: flex;
}

.game .flex > .col {
  flex: auto;
}

.game .status-bar .life {
  width: 100%;
}

.game .status-bar .life .px {
  font-weight: bold;
}

.game .sliding-background {
  background: url('../img/background.jpg') repeat-x;
  height: 1090px;
  width: 10076px;
}

.game .player.left {
  transform: rotateY(3.142rad);
} 

.game .player {
  position: absolute;
  width: 45px;
  height: 60px;
  background: url('../img/jedi-animation.png');
  background-position: 0px -502px;
  z-index: 1;
  pointer-events: none;
}

.game .trooper {
  position: absolute;
  width: 32px;
  height: 48px;
  background: url('../img/stormtrooper.png');
  transform: translateY(0%) translateX(64px);
  background-position: 0px -48px;
  pointer-events: none;
  z-index: 1;
}

.game .player img {
  height: 30%;
  width: 30%;
}

.game .player.walk {
  animation: run 0.8s steps(4) infinite;
}

.game .trooper.walk {
  animation: runtrooper 0.8s steps(4) infinite;
}

.game .player.idle {
  animation: idle 0.8s steps(4) infinite;
}

.stopped {
  animation-name: none;
}

@keyframes run {
  0%{background-position: -0px -502px;}
  100%{background-position:-200px -502px;};
}

@keyframes runtrooper {
  0%{background-position: -0px -48px;}
  100%{background-position:-132px -48px;};
}

@keyframes idle {
  0%{background-position: -0px -440px;}
  100%{background-position:-200px -440px;};
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  /* 100%{
    transform: translate3d(-1692px, 0, 0);
  } */
}