<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="game" class="game">
        <div class="outer-wrapper">
            <div class="wrapper">
                <div class="slide one"></div>
                <div class="slide two"></div>
                <div class="slide three"></div>
                <div class="slide four"></div>
            </div>
        </div>
    </div>
</body>
</html>